.navbar{
    transition: all 2s;
}


.floating-menu{
    position: absolute;
    background-color: blanchedalmond;
    border-radius: 5%;
    min-width: 80px;
    min-height:80px;
    bottom: 10%;
    right:10%;
    border-style:solid;
    border-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.button-animate{
    transition: all 1s;
}
.button-animate:active{
    transform: scale(0.7);
    transition: all 1s;
}

