.navbar{
    transition: all 2s;
}


.floating-menu{
    position: absolute;
    background-color: blanchedalmond;
    border-radius: 50%;
    width: 80px;
    height:80px;
    bottom: 10%;
    right:10%;
    border-style:solid;
    border-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.floating-menu p{
    text-align: center;
}
:active.floating-menu{
    transform: scale(1.2);
    transition: all 0.5s;
}

