.navbar{
    transition: all ease-out 0.8s;
}


.floating-menu{
    position: sticky;
    border-radius: 5%;
    min-width: 80px;
    min-height:80px;
    max-width: 80px;
    bottom: 5%;
    left:75%;
    border-style:solid;
    border-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.button-animate{
    transition: all 1s;
}
.button-animate:active{
    transform: scale(0.7);
    transition: all 1s;
}

.loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ffd300;
    width: 120px;
    height: 120px;
}